/* dark-theme.css */
body.dark-theme {
	background-color: #333 !important;
	color: #fff !important;
}

.dark-theme #portfolio {
	background-color: #333 !important;
	color: #fff !important;
}
.dark-theme #about {
	background-color: #555 !important;
	color: #fff !important;
}
.dark-theme #skillcloud {
	background-color: #444 !important;
	color: #fff !important;
}
.dark-theme #footer {
	background-color: #333 !important;
	color: #fff !important;
}

.dark-theme h2,
.dark-theme header {
	color: #fff !important;
}

/* Explicitly set the SVG text color to white */
.dark-theme #skillcloud svg,
.dark-theme #skillcloud svg text {
	color: #fff !important;
	fill: #fff !important;
}
