/* dark-theme.css */
body.dark-theme {
	background-color: #333 !important;
	color: #ddd !important;
}

#portfolio {
	background-color: #333 !important;
	color: #ddd !important;
}
#about {
	background-color: #555 !important;
	color: #ddd !important;
}
#skillcloud {
	background-color: #444 !important;
	color: #ddd !important;
}
#footer {
	background-color: #333 !important;
	color: #ddd !important;
}

h2,
header {
	color: #ddd !important;
}
